<header class="header">
    <div class="header__logo">
        <h1>
            Book Bros
        </h1>
    </div>
    <nav class="header__nav">
        <ul class="header__nav-items">
            <li class="header__nav-item">
                <a href="{{url_for('main.index')}}" class="header__nav-link">
                    Home
                </a>
            </li>
            <li class="header__nav-item">
                <a href="{{url_for('products.index')}}" class="header__nav-link">
                    Products
                </a>
            </li>
            <li class="header__nav-item">
                <a href="{{url_for('main.about')}}" class="header__nav-link">
                    About
                </a>
            </li>
        </ul>
    </nav>
</header>