{% extends 'base.html' %}

{% block main %}
    <main class="main">
        {% include 'includes/genre_list.html' %}
        <section class="main__products">
            <form action="" class="filter" method="get">
                <label for="sort">Sort Products</label>
                <select name="sort" id="sort">
                    <option value="title">Title (A-Z)</option>
                    <option value="price">Price (1-9)</option>
                    <option value="author">Author (A-Z)</option>
                    <option value="genre">Genre (A-Z)</option>
                </select>
                <input type="submit">
            </form>
            {% for record in records %}
            {% include 'includes/product_card.html' %}
        {% endfor %}
        </section>
    </main>
{% endblock %}