<form action="" method="POST" class="product__form">
    <div class="input__field">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="product__form-input">
    </div>
    
    <div class="input__field">
        <label for="author">Author:</label>
    <input type="text" name="author" id="author" class="product__form-input">
    </div>
    
    <div class="input__field">
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" class="product__form-input">
    </div>
    
    <div class="input__field">
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" class="product__form-input">
    </div>

    <div class="input__field">
        <label for="description">Product Description:</label>
        <input type="text" name="description" id="description" class="product__form-input">
    </div>

    <input type="submit">
</form>